<!DOCTYPE html>
<html>

<head>
    @{meta}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=11" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="robots" content="all,follow" />
<!--    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>-->
    @{import('jquery.min.js')}
    @{import('head', 'default.js', 'favicon.ico', 'bootstrap.min.css', 'bootstrap.min.js')}
</head>

<body>

    <!-- Static navbar -->
    @{view('~/partial/navbar')}
    <!-- Content -->
    <div class="container-background">
        <div class="container">
            @{body}
        </div>
    </div>
    @{view('footer')}

</body>
</html>